if SHIELD_CHARYBDIS_HE_L_LEFT

config ZMK_KEYBOARD_NAME
    default "charybdis-he-l"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_CHARYBDIS_HE_L_LEFT

if SHIELD_CHARYBDIS_HE_L_LEFT || SHIELD_CHARYBDIS_HE_L_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_CHARYBDIS_HE_L_LEFT || SHIELD_CHARYBDIS_HE_L_RIGHT
